drive_to_rag.json
{
  "name": "Drive to Rag",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "streamlit-drive-upload",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4d2affb5-b9ff-4712-8da6-07935089ed1f",
      "name": "Webhook",
      "webhookId": "338807e8-f68e-4534-bab1-586c80fd1d88"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "Big Dream Boatman Cancellation and Refund Policy",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "ffcd36e2-2d20-4e22-b47d-b362790c4d85",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4pRBsq7ISOoQceM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "v10"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        660,
        0
      ],
      "id": "3203dd34-bd60-44c3-b3dd-c5fb5768ee4a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yhjdjcGEE0Mk8fu6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        800,
        220
      ],
      "id": "163a06ce-c28f-46ca-bde6-53244877d391",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        780,
        360
      ],
      "id": "1213625b-a200-45cb-9101-c0e3213e5c50",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        200
      ],
      "id": "e25ab1a0-8db5-4cdb-a14c-56545eec1237",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "uSskZuH1xZ28ZgWd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        440,
        0
      ],
      "id": "eadb57d5-b3e4-4570-8fdd-3d0503d1e5c2",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4pRBsq7ISOoQceM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1200,
        -60
      ],
      "id": "62df53ee-a81d-4914-b14f-484ed76d90b1",
      "name": "When chat message received",
      "webhookId": "085eea9f-5395-48ac-a6b6-1b8e1f896ba0"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Call pinecone tool to reply questions. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1400,
        -60
      ],
      "id": "1e0ce0ee-1eca-49e3-af2d-67fd5aea7ac2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "pinecone",
        "toolDescription": "Call this to answer questions",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {
          "pineconeNamespace": "v10"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1740,
        240
      ],
      "id": "99305c2f-fead-4540-93c5-83cc7b0038f0",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "yhjdjcGEE0Mk8fu6",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        360
      ],
      "id": "cfe961c8-38d1-448f-8e26-0bddf1cbae53",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "uSskZuH1xZ28ZgWd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed2b2302-b09a-435b-b907-9d659497d4e7",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        -60
      ],
      "id": "06c61e2d-c924-444b-9835-9ec5c3c7fcfd",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1520,
        180
      ],
      "id": "3085860b-5277-4d00-ae05-07e377ae1c1a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1340,
        200
      ],
      "id": "48f69996-b17a-44d6-9ea5-80ff6d31fb78",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uSskZuH1xZ28ZgWd",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1250ff05-910e-4587-8324-591f818c078c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2fe7bff2b7f3e7eeb2d50c7d50c025257209c17dc2872707d5dd1be16092909"
  },
  "id": "cyBtUQnwXVsumI6E",
  "tags": []
}